.container1 {
    font-family: "Roboto";
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.alarm1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.sliders1 input {
    width: 200px;
    margin-top: 55px;
}

.sliders1 input[type="range"] {
    appearance: none;
    width: 130px;
    height: 2px;
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: dodgerblue;
}

input[type="range"]::-webkit-slider-thumb {
    transition: all 0.1s ease-in;
    appearance: none;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.sliders1 {
    transform: rotate(-90deg);
    width: 235px;
    margin-top: -70px;
    margin-left: -62px;
}

.sliders1 span {
    font-size: 2.8em;
    color: white;
}
