.button {
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: none;
  padding: 0.7rem;
  background-color: #3b55d3a4;
}

.button svg {
  width: 18px;
  height: 18px;
  color: gainsboro;
}

.button:active {
  transform: scale(0.9);
}
