.container button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 5px;
    border: none;
    background: #e28f83;
    color: white;
}

.container {
    text-align: center;
    margin: 1% 0 0 0;
}

.container button:active,
.button:active {
    background: white;
    color: #e28f83;
    border: 1px solid #e28f83;
    transform: scale(0.9);
}

.meditate {
    margin: 0 6% 0;
}

.meditate h1 {
    font-size: 3vh;
}

.timePicker {
    padding: 0 0 35% 0;
    text-align: center;
}

.button {
    padding: 3% 6%;
    background: #e28f83;
    border: 1px solid #e28f83;
    border-radius: 5px;
    color: white;
    margin: 4% 0 0 0;
}
